[submodule "bin"]
	path = bin
	url = https://github.com/i-kuzmin/.bin.git
[submodule "wiki"]
	path = wiki
	url = https://github.com/i-kuzmin/wiki
[submodule "fonts"]
	path = fonts
	url = https://github.com/i-kuzmin/.fonts.git 
[submodule "vim"]
	path = vim
	url = https://github.com/i-kuzmin/.vim
[submodule "mutt"]
	path = mutt
	url = https://github.com/i-kuzmin/.mutt
[submodule "urxvt-ext/urxvt-perls"]
	path = urxvt-ext/urxvt-perls
	url = https://github.com/muennich/urxvt-perls.git
