#
# Should you change your keyboard layout somewhen, delete
# this file and re-run i3-config-wizard(1).
#

# i3 config file (v4)
#
# Please see http://i3wm.org/docs/userguide.html for a complete reference!

set $mod Mod4
set $alt Mod1

# Multimedia Keys
# Volue Control
bindsym XF86AudioRaiseVolume exec --no-startup-id pactl set-sink-volume 1 -- +5% && killall -SIGUSR1 i3status
#bindsym XF86AudioRaiseVolume exec amixer -q set Master 5%+
bindsym XF86AudioLowerVolume exec --no-startup-id pactl set-sink-volume 1 -- -5% && killall -SIGUSR1 i3status
#bindsym XF86AudioLowerVolume exec amixer -q set Master 5%-
#bindsym XF86AudioMute exec amixer -q sset Master toggle 
bindsym XF86AudioMute exec --no-startup-id pactl set-sink-mute 1 toggle && killall -SIGUSR1 i3status

# Display Keys
#bindsym 67 exec ~/.bin/sw-monitor toggle_press
#bindsym --release F2 exec ~/.bin/sw-monitor toggle_release

# System Keys
bindsym Print exec xfce4-screenshooter -f
bindsym Mod2+Print exec xfce4-screenshooter -r
bindsym Mod1+Print exec xfce4-screenshooter -w

#bindsym --release Mod1+c exec --no-startup-id xdotool key --clearmodifiers ctrl+c
#bindsym --release Mod1+v exec --no-startup-id xdotool key --clearmodifiers ctrl+v
bindsym --release Mod1+a exec --no-startup-id xdotool key --clearmodifiers ctrl+a
bindsym --release Mod1+x exec --no-startup-id xdotool key --clearmodifiers ctrl+x

# Monitors
#bindsym Super_L+XF86Display exec switch-monitor  

# Scratchpad
bindsym $mod+n scratchpad show
bindsym $mod+Shift+n move scratchpad
bindsym $mod+Shift+v [class="^Vlc$"] scratchpad show


# Font for window titles. Will also be used by the bar unless a different font
# is used in the bar {} block below. ISO 10646 = Unicode
#font -misc-fixed-medium-r-normal--10-120-75-75-C-70-iso10646-1
# The font above is very space-efficient, that is, it looks good, sharp and
# clear in small sizes. However, if you need a lot of unicode glyphs or
# right-to-left text rendering, you should instead use pango for rendering and
# chose a FreeType font, such as:
font $font

# Use Mouse+$mod to drag floating windows to their wanted position
floating_modifier $mod

# start a terminal
#bindsym $mod+Return exec gnome-terminal
#bindsym $mod+Return exec --no-startup-id urxvtc -e bash -c "tmux -q has-session && exec tmux attach-session -d"
bindsym $mod+Return exec urxvtc -e ~/.bin/urxvtc_tmux
bindsym $mod+Shift+Return exec urxvtc -e ~/.bin/urxvtc_tmux --detache
# || exec tmux new-session -n$USER -s$USER@$HOSTNAME"

# kill focused window
bindsym $mod+Shift+q kill

# kill widow Alt+F4
bind mod1+70 kill

# start dmenu (a program launcher)
bindsym $mod+u exec --no-startup-id dmenu_run  # There also is the (new) i3-dmenu-desktop which only displays applications
# shipping a .desktop file. It is a wrapper around dmenu, so you need that
# installed.
# bindsym $mod+d exec --no-startup-id i3-dmenu-desktop

# change focus
bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right

# alternatively, you can use the cursor keys:
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# move focused window
bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right

# alternatively, you can use the cursor keys:
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# split in horizontal orientation
bindsym $mod+g split h

# split in vertical orientation
bindsym $mod+v split v

# enter fullscreen mode for the focused container
bindsym $mod+f fullscreen

# change container layout (stacked, tabbed, toggle split)
bindsym $mod+s layout stacking
bindsym $mod+t layout tabbed
bindsym $mod+e layout toggle split

# toggle tiling / floating
bindsym $mod+Shift+space floating toggle

# change focus between tiling / floating windows
bindsym $mod+space focus mode_toggle

# focus the parent container
bindsym $mod+a focus parent

# focus the child container
bindsym $mod+c focus child

# switch to workspace
bindsym $mod+1 workspace number 1
bindsym $mod+2 workspace number 2
bindsym $mod+3 workspace number 3
bindsym $mod+4 workspace number 4
bindsym $mod+5 workspace number 5
bindsym $mod+6 workspace number 6
bindsym $mod+7 workspace number 7
bindsym $mod+8 workspace number 8
bindsym $mod+9 workspace number 9
bindsym $mod+0 workspace number 10

# move focused container to workspace
bindsym $mod+Shift+1 move container to workspace number 1; workspace number 1
bindsym $mod+Shift+2 move container to workspace number 2; workspace number 2
bindsym $mod+Shift+3 move container to workspace number 3; workspace number 3
bindsym $mod+Shift+4 move container to workspace number 4; workspace number 4
bindsym $mod+Shift+5 move container to workspace number 5; workspace number 5
bindsym $mod+Shift+6 move container to workspace number 6; workspace number 6
bindsym $mod+Shift+7 move container to workspace number 7; workspace number 7
bindsym $mod+Shift+8 move container to workspace number 8; workspace number 8
bindsym $mod+Shift+9 move container to workspace 9; workspace 9
bindsym $mod+Shift+0 move container to workspace 10; workspace 10


workspace 1 output $mon1
workspace 2 output $mon2

# move focused workspace to monitor
bindsym $mod+ctrl+1 move workspace to output $mon1
bindsym $mod+ctrl+2 move workspace to output $mon2

bindsym $mod+ctrl+h move workspace to output left
bindsym $mod+ctrl+l move workspace to output right
bindsym $mod+ctrl+Left move workspace to output left
bindsym $mod+ctrl+Right move workspace to output right

# reload the configuration file
bindsym $mod+Shift+c exec --no-startup-id ~/.i3/Config, reload
# restart i3 inplace (preserves your layout/session, can be used to upgrade i3)
bindsym $mod+Shift+r restart
# exit i3 (logs you out of your X session)
#bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"
bindsym $mod+Shift+e exec i3-msg exit
bindsym $mod+Shift+x exec --no-startup-id slimlock

# mod+F2 toggle surrent screan status bar
bind $mod+68 exec ~/.bin/i3-tools tgStBar
#
# mod+F3 volume control utility
bind $mod+69 exec pavucontrol


### Desktop Workspace ###
set $desk desk
bindsym $mod+d exec --no-startup-id ~/.bin/i3-tools toWS $desk pcmanfm
bindsym $mod+Shift+d move container to workspace $desk, floating enable

set $desktop_class class="^Pcmanfm$" title="^pcmanfm$"
bindsym $mod+$alt+d exec --no-startup-id pcmanfm

for_window [$desktop_class] border none, floating disabled, focus parent, layout tabbed
for_window [class="^Pcmanfm$"] border 1pixel
assign [$desktop_class] $desk

### WWW Workspace ###
set $www www
bindsym $mod+w exec --no-startup-id ~/.bin/i3-tools toWS $www chromium
bindsym $mod+Shift+w move container to workspace $www
bindsym $mod+$alt+w exec --no-startup-id chromium

### Mail Workspace ###
set $mail mail
bindsym $mod+m exec --no-startup-id ~/.bin/i3-tools toWS $mail thunderbird
bindsym $mod+Shift+m move container to workspace $mail
bindsym $mod+$alt+m exec --no-startup-id thunderbird


### Skype Workspace ###
set $im im
bindsym $mod+i exec --no-startup-id ~/.bin/i3-tools toWS $im skype
bindsym $mod+Shift+i move container to workspace $im
bindsym $mod+$alt+i exec --no-startup-id skype

### Front-end Workspace ###
set $fe z:front-end
bindsym $mod+z exec --no-startup-id ~/.bin/i3-tools toWS $fe front-end start
bindsym $mod+Shift+z move container to workspace $im
bindsym $mod+$alt+z exec --no-startup-id frint-end start

### Console Workspace ###
#set $console console
#bindsym $mod+c workspace $console
#bindsym $mod+Shift+c move container to workspace $console
######################

# resize window (you can also use the mouse for that)
mode "resize" {
        # These bindings trigger as soon as you enter the resize mode

        # Pressing left will shrink the window’s width.
        # Pressing right will grow the window’s width.
        # Pressing up will shrink the window’s height.
        # Pressing down will grow the window’s height.
        bindsym h resize shrink width 10 px or 10 ppt
        bindsym j resize grow height 10 px or 10 ppt
        bindsym k resize shrink height 10 px or 10 ppt
        bindsym l resize grow width 10 px or 10 ppt

        # same bindings, but for the arrow keys
        bindsym Left resize shrink width 10 px or 10 ppt
        bindsym Down resize grow height 10 px or 10 ppt
        bindsym Up resize shrink height 10 px or 10 ppt
        bindsym Right resize grow width 10 px or 10 ppt

        # back to normal: Enter or Escape
        bindsym Return mode "default"
        bindsym Escape mode "default"
}

bindsym $mod+r mode "resize"
# mod+comma rename workspace
bind    $mod+59 exec i3-input -F 'rename workspace to "%s"' -P 'New name: '


# Start i3bar to display a workspace bar (plus the system information i3status
# finds out, if available)
workspace_auto_back_and_forth yes
bindsym $mod+b workspace back_and_forth
bindsym $mod+Shift+b move container to workspace back_and_forth; workspace back_and_forth

#force_xinerama yes
for_window [class="^Google-chrome$"] border 1pixel
for_window [class="^Gvim$"] border 1pixel
for_window [class="^Chromium$"] border 1pixel
for_window [class="^Vmplayer$"] border 1pixel
for_window [class="^Thunderbird$"] border 1pixel
for_window [class="^Gnome-terminal$"] border 1pixel
for_window [class="^URxvt$"] border 1pixel
for_window [class="^XTerm$"] border 1pixel, focus child, exec transset-df -a 0.95
for_window [class="^xfreerdp$"] border 1pixel, floating disabled
for_window [class="^Wpa_gui$"] floating enabled
for_window [class="^Pavucontrol$"] floating enabled
for_window [class="^Blueman-manager$"] floating enabled
#for_window [class="^Conky$"] border none; floating enable

bar {
        id bar-1
        font $barFont
        status_command i3status -c `~/.i3/Config i3status.conf`
        tray_output primary
        output $mon1
}

bar {
        id bar-2
        font $barFont
        status_command i3status -c `~/.i3/Config i3status.conf`
        tray_output primary
        output $mon2
}

# xdg-autostart
# ${HOME}/.config/autostart/*.desktop
# /etc/xdg/autostart/*.desktop
exec --no-startup-id dex -ae GNOME
exec --no-startup-id /usr/bin/xscreensaver -no-splash &
exec --no-startup-id setxkbmap -layout us,ru -option grp:shifts_toggle -option ctrl:swapcaps && xmodmap ~/.Xmodmap

#exec --no-startup-id pcmanfm --desktop
